body {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
}

.page {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  background-color: yellow;
  height: 56px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  float: left;
  width: 240px;
  height: 56px;
  background-color: brown;
}

.nav-item:nth-child(2) {
  margin-right: 240px;
}

.welcome {
  background-color: pink;
  height: 508px;
}

.slogan-box {
  width: 505px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 58px;
  background-color: blue;
}

.features-item1 {
  height: 255px;
  margin-bottom: 40px;
  background-color: lightgreen;
}

.features-item2 {
  height: 255px;
  margin-bottom: 35px;
  background-color: lightgreen;
}

.features-item3,
.features-item4 {
  height: 255px;
  margin: 0;
  background-color: lightgreen;
}

.features-item {
  width: 400px;
  height: 255px;
  background-color: red;
}

.features-item2 .features-item,
.features-item4 .features-item {
  float: left;
}
.features-item3 .features-item {
  float: right;
}

.index-content {
  width: 445px;
  height: 105px;
  margin: 50px auto;
  background-color: orange;
}

.index-content-form {
width: 568px;
height: 480px;
margin-left: auto;
margin-right: auto;
margin-bottom: 81px;
background-color: grey;
}

.search-form-title {
  width: 568px;
  height: 75px;
  background-color: brown;
}

.search-btn {
  width: 458px;
  height: 59px;
  background-color: lightblue;
}

.main-footer {
  height: 120px;
  background-color: green;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  float: left;
  width: 200px;
  height: 120px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: aqua;
}

.choice {
  height: 217px;
  background-color: pink;
  padding-left: 72px;
  padding-right: 72px;
}

.infrastructure {
  float: left;
  box-sizing: border-box;
  width: 150px;
  height: 160px;
  margin-top: 30px;
  margin-right: 91px;
  background-color: lightblue;
}
.accommodation {
  float: left;
  box-sizing: border-box;
  width: 141px;
  height: 160px;
  margin-top: 30px;

  background-color: lightblue;
}

.price {
  float: right;
  box-sizing: border-box;
  width: 328px;
  height: 160px;
  margin-top: 30px;
  background-color: lightblue;
}

.sort {
  height: 87px;
  background-color: green;
}

.results-title {
  float: left;
  margin-right: 46px;
}

.sort-title {
  float: left;
  margin-right: 43px;
}

.sort-list {
  float: left;
}

.sort-content {
  float: left;
  width: 80px;
  margin-right: 2px;
  background-color: yellow;
}

.results-line {
  display: flex;
  height: 150px;
  background-color: orange;
  justify-content: space-between;
}

.results-item {
  display: flex;
  width: 423px;
  height: 150px;
  justify-content: space-between;
  background-color: red;
}

.rating {
  width: 111px;
  height: 150px;
  background-color: lightgreen;
}

.results {
  padding-left: 72px;
  padding-right: 72px;
}

fieldset {
  border: none;
}



.slogan,
.results-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 0;
  color: #000000;
}

.text {
  line-height: 26px;
}

.features-name {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.white {
  color: #ffffff;
}

.interest {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.content {
  line-height: 24px;
}

.search-form-title,
.search-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
}

.search,
.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.form-title {
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sort-title,
.sort-content {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
